<div class="flex-container">
  <div class="flex-item">
    {{#each model as |folder|}}
        <div class="sidebar-folder">
          {{#link-to 'folders.folder' folder.id}}
            {{folder.name}}
          {{/link-to}}
        </div>
    {{/each}}
  </div>
  <div class="flex-item">
    {{outlet}}
  </div>
</div>
