<div class="flex-container">
  <div class="flex-item">
    {{!-- Only loop through the root folders, instead of looping through all of the models --}}
    {{#each rootFolders as |folder|}}
      {{expandable-folder folder=folder}}
    {{/each}}
  </div>
</div>
